asgiref==3.8.1
Django==5.1.6
djangorestframework==3.15.2
psycopg2==2.9.10
psycopg2-binary==2.9.10
python-decouple==3.8
sqlparse==0.5.3
-e git+https://github.com/jcosilva/EBACFSPython_CloneTwitter.git@e0a9c26a1f924ef947a9d452c917696a75600d71#egg=twitter_clone
tzdata==2025.1
