<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feed de Tweets</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Bem-vindo ao seu Feed</h1>
        <div class="navbar">
            <div class="nav-links">
                <a href="{% url 'profile' request.user.id %}">Meu Perfil</a> |
                <a href="{% url 'create_tweet' %}">Criar Novo Tweet</a> |
                <form method="post" action="{% url 'logout' %}" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn-link">Sair</button>
                </form>
            </div>
            <div class="search-bar">
                <form method="GET" action="{% url 'search_users' %}">
                    <input type="text" name="q" placeholder="Pesquisar usuários...">
                    <button type="submit" class="btn">Buscar</button>
                </form>
            </div>
        </div>
        <h2>Feed de Atualizações</h2>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Usuário</th>
                        <th>Tweet</th>
                        <th>Quando foi criado</th>
                        <th>Like / Unlike</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tweet in tweets %}
                    <tr>
                        <td><a href="{% url 'profile' tweet.user.id %}">{{ tweet.user.email }}</a></td>
                        <td>{{ tweet.content }}</td>
                        <td>{{ tweet.created_at|timesince }} atrás</td>
                        <td>
                            <a href="{% url 'like_tweet' tweet.id %}">
                                {% if tweet.id in liked_tweet_ids %}
                                    Unlike
                                {% else %}
                                    Like
                                {% endif %}
                            </a>
                            ({{ tweet.likes.count }})
                        </td>
                        <td>
                            {% if tweet.user == request.user %}
                                <a href="{% url 'delete_tweet' tweet.id %}">Deletar</a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>